.ipynb_checkpoints/
.pylintrc
.mscbackup
.DS_Store
.mypy_cache/
__pycache__/

*.swp
.env

*.log

images
*.png

generated/*.mid
generated/*.mp3
generated/*.mp4
generated/*.mscz

#checkpoint/

runs/logs

readme.txt
get_midi_info.py
midi2audio2video.py